[Unit]
Description=Bitmessage Daemon
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/pybitmessage $ARGS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=forking
PIDFile=/var/lib/bitmessage/.config/PyBitmessage/singleton.lock
User=bitmessage
Group=bitmessage
WorkingDirectory=/var/lib/bitmessage
EnvironmentFile=/etc/default/bitmessage

[Install]
WantedBy=multi-user.target
